a {
    text-decoration: none;
}

#register-form {
    max-width: 600px;
    padding: 60px;
    background-color: #1b1b20;
    border-radius: 20px;
}

#forgot-password {
    margin-top: -10px;
}

#div-btn-register {
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid #47BDCB;
    border-radius: 5px;
}

#btn-register {
    width: 100%;
    height: 50px;
    font-size: 25px;
}

.base {
    max-width: 1500px;
}

.v-text-field--outlined >>> fieldset {
    border-color: #47BDCB;
}