#menu {
    margin-bottom: 60px;
    border-bottom: 1px solid #6E75C1;
}

a {
    color: #E5E5E5 !important;
    text-decoration: none;
    margin-right: 25px;
}

a:hover {
    transition: 0.25s;
    color: #6E75C1 !important;
}

button {
    margin-left: 5px;
}