#info {
    min-width: 30vw;
}

#btn-login {
    width: 300px;
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
}

#login-form {
    padding: 50px;
    background-color: #1b1b20;
    border-radius: 20px;
    min-height: 50vh;
    min-width: 30vw;
}

.base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    min-width: 50vw;
}